@import '../colors'

table
	width: 100%
	
table tr td:nth-child(2)
	width: 70px

table tr td:last-child
	text-align: right
	min-width: 280px
	
label
	font-weight: bold
	
input
	width: 100%
	margin: 10px 0 20px 0
	padding: 10px
	
.container
	max-width: 600px
	margin: 0 auto

button
	margin-left: 10px
	
.text-category
	color: $color-3
	font-size: 14px