%rounded
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border-radius: 5px
	
%rounded-top
	-moz-border-top-left-radius: 5px
	-webkit-border-top-left-radius: 5px
	border-top-left-radius: 5px
	-moz-border-top-right-radius: 5px
	-webkit-border-top-right-radius: 5px
	border-top-right-radius: 5px
	
%shadow
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

%no-select 
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
    -ms-user-select: none
    user-select: none