@import 'variables'
@import 'mixins'

*
	margin: 0
	padding: 0
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: verdana
	font-size: 16px
	
html
	height: 100%
	
body
	position: relative
	background: $color-1
	color: $color-11
	min-height: 100%
	margin: 0

*:hover, button, a
	@extend %trans-effect
	
h1
	color: $color-3
	padding: 20px 0
	font-size: 48px
	
h2
	color: $color-5
	padding-bottom: 20px
	font-size: 32px
	
h3
	padding: 20px 0 10px 0
	&.sum
		padding-top: 10px
	
button
	@extend %rounded
	@extend %no-select
	color: $color-1
	background: $color-3
	padding: 10px
	height: $button-height
	cursor: pointer
	outline: none
	border: none 
	&:hover
		background: $color-4
	
input,
select,
option,
textarea
	@extend %rounded
	&[type=text]
		height: $button-height
		
input, 
select,
textarea
	padding: 10px
	width: 100%
	border: 1px solid $color-2

select
	padding: 10px
	
textarea
	resize: vertical
	min-height: 50px
	height: 80px
	
input:focus, 
textarea:focus,
select:focus
	outline: none !important
	border: 1px solid $color-3
	transition: none
		
a
	color: $color-4
	&:hover
		color: $color-6
	&.break
		word-break: break-all
	
.container-main
	max-width: 720px
	margin-left: auto 
	margin-right: auto
	.container
		@extend %rounded
		@extend %shadow
		background: $color-10
		padding: 20px
		margin-top: 20px
	ul
		margin-left: 20px
		
.container-main.text
	line-height: 30px
	
.loader-top
	padding: 50px 0
	text-align: center
	
.number-format
	background: inherit
	color: inherit
	border: none !important
	text-align: right
	width: 90px
	height: 100%
	&:focus
		outline: none !important
		border: none
	
.align-right
	text-align: right
	
button.btn-edit
	background: $color-5
	&:hover
		transition: all 0.5s ease
		background: $color-6
	
button.btn-delete
	background: $color-7
	&:hover
		transition: all 0.5s ease
		background: $color-8
	
.height-20
	padding-top: 20px
  
.important
	font-weight: bold
	padding-top: 10px

/******************************************************************************/
/* MESSAGES
/******************************************************************************/

div.error-message-form
	@extend %rounded
	background: $color-16
	font-size: 14px
	color: $color-7
	padding: 10px 
	margin-top: 5px
	
div.success-message-form
	@extend %rounded
	background: $color-17
	color: $color-6
	padding: 10px 
	margin-top: 5px
	
/******************************************************************************/
/* MODAL 
/******************************************************************************/

.modal 
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.6)

.modal-main 
	@extend %rounded
	position: fixed
	background: white
	width: 400px
	height: auto
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	.modal-title
		padding: 20px
		border-bottom: 1px solid $color-2
	.content	
		padding: 20px
		.flex
			display: flex
			padding: 5px 0
			div:first-child
				width: 70px
				color: $color-4
			&:last-child
				justify-content: space-between
				padding-top: 20px
				div
					width: auto
	.delete-ok
		padding-top: 10px
		.button-ok
			text-align: right
			padding-top: 20px
	
.display-block
	display: block
	
.display-none
	display: none
	
p/******************************************************************************/
/* MEDIA QUERY - MAX 760 
/******************************************************************************/

@media screen and (max-width: 760px) 
	.container-main
		margin: 0 10px
		
/******************************************************************************/
/* MEDIA QUERY - MAX 750 
/******************************************************************************/

@media screen and (min-width: 750px) 
	html
		margin-left: calc(100vw - 100%) // for scrollbar
		
/******************************************************************************/
/* MEDIA QUERY - MAX 700 
/******************************************************************************/

@media screen and (max-width: 700px) 
	%rounded-no
		-moz-border-radius: 0
		-webkit-border-radius: 0
		border-radius: 0
		
	%shadow-no
		box-shadow: none
		
	h1
		padding: 0 20px
	
	.container-main
		margin: 0
		.container
			width: 100%
			@extend %rounded-no
		.container-text
			padding: 20px 20px 0 20px
			
/******************************************************************************/
/* MEDIA QUERY - MAX 600 
/******************************************************************************/

@media screen and (max-width: 600px) 
	.modal-main 
		width: 90%