@import 'colors'

%rounded
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	border-radius: 5px
	
%no-select 
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
    -ms-user-select: none
    user-select: none
	
*
	margin: 0
	padding: 0
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: verdana
	font-size: 16px
	
body
	background: $color-1
	
h1, h2
	color: $color-3
	padding: 20px 0
	font-size: 48px
	
td, th
	border-bottom: 1px solid $color-2
	
td, th
	padding: 10px 0
	text-align: left
	
th 
	border-top: 1px solid $color-2
table
	margin: 30px auto
	border-spacing: 0px
    border-collapse: collapse
	
button
	@extend %rounded
	@extend %no-select
	color: $color-1
	background: $color-3
	padding: 10px 20px
	cursor: pointer
	outline: none
	border: none 
	&:hover
		transition: all 0.5s ease
		background: $color-4
	
.loader-top
	padding: 50px 0
	text-align: center
	
.number-format
	background: inherit
	border: none
	text-align: right

button.btn-edit
	background: $color-5
	
button.btn-delete
	background: crimson